In [14]:
import pandas as pd

In [15]:
train = pd.read_csv("Dataset/baseline_data_imputed.csv")
test = pd.read_csv("Dataset/test_with_ext_no_ohe.csv")
id = test.iloc[:,0]

In [16]:
train.head()

,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,Date,Hour,road_type,node_awal_ways,node_akhir_ways,road_relation,road_node,max_speed,type_highway,hour_group,id_jalan_id_titik_mulai_id_titik_akhir,is_weekend,hari
0,691007296.0,21390008.0,1.425033e+09,29.126,1,0,Road,3.0,3.0,13.0,5.0,30.0,trunk,1.0,691007296_21390008_1425033102,True,Sabtu
1,691007296.0,21390008.0,1.425033e+09,29.126,1,1,Road,3.0,3.0,13.0,5.0,30.0,trunk,1.0,691007296_21390008_1425033102,True,Sabtu
2,691007296.0,21390008.0,1.425033e+09,34.772,1,2,Road,3.0,3.0,13.0,5.0,30.0,trunk,1.0,691007296_21390008_1425033102,True,Sabtu
3,691007296.0,21390008.0,1.425033e+09,34.161,1,3,Road,3.0,3.0,13.0,5.0,30.0,trunk,1.0,691007296_21390008_1425033102,True,Sabtu
4,691007296.0,21390008.0,1.425033e+09,39.383,1,4,Road,3.0,3.0,13.0,5.0,30.0,trunk,1.0,691007296_21390008_1425033102,True,Sabtu

In [17]:
unique_id = "1210_1030634572_1030634588"

col_to_drop = ['road_type', 'node_awal_ways', 'node_akhir_ways',
       'road_relation', 'road_node', 'max_speed', 'type_highway', "id_jalan", "id_titik_mulai", "id_titik_akhir", "hour_group", "is_weekend", "hari"]

train = train.drop(col_to_drop, axis=1)

train_unique_id = train[train["id_jalan_id_titik_mulai_id_titik_akhir"] == unique_id]
train_unique_id.head()

        rerata_kecepatan  Date  Hour id_jalan_id_titik_mulai_id_titik_akhir
435600            45.448     1     0             1210_1030634572_1030634588
435601            45.448     1     1             1210_1030634572_1030634588
435602            46.997     1     2             1210_1030634572_1030634588
435603            46.556     1     3             1210_1030634572_1030634588
435604            47.807     1     4             1210_1030634572_1030634588

In [18]:
test.head()

,Date,Hour,road_type,node_awal_ways,node_akhir_ways,road_relation,road_node,max_speed,type_highway,Day,id_jalan_id_titik_mulai_id_titik_akhir,node_awal_ways_minus_node_akhir_ways
0,23,0,West,3.0,3.0,9,7,30,trunk,7,4004732_32046542_6454026544,0.0
1,23,0,Side,2.0,2.0,13,11,30,trunk,7,182210371_1314925464_1314925496,0.0
2,23,0,Lane,2.0,2.0,4,62,20,secondary,7,22932408_1482086782_26481020,0.0
3,23,0,Side,2.0,2.0,13,11,30,trunk,7,182210371_3892883_267337489,0.0
4,23,0,Road,2.0,3.0,25,34,30,trunk,7,66924592_266041030_2592978110,-1.0